@{
    ViewData["Title"] = "Delete Entry";
}

@model ApplicationResponse

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Title?</h3>

<form method="post" asp-action="Delete">
    <a asp-controller="Home" asp-action="MovieTable" class="btn btn-primary">Cancel</a>
    <button type="submit">Delete</button>

    <input type="hidden" asp-for="EntryID"/>
</form>
