@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*Derek Charlton*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
<div>
    <a asp-controller="Home" asp-action="MovieTable">View Movie Collection</a>
</div>